form(role="dialog", data-type="confirm")
  section
    h1 Connect
    p
      img(src="img/buffer-icon-60.png", alt="Buffer Icon")
      strong Buffer
      small Full access authorization
    p
      small The app need access to your account.
  menu
    a.recommend(role="button", ng-href="{{loginUrl}}") Login
